<% var users, totalCount, title, message, c_page, ok %>
<%- include('components/header') %>

<%- include('components/navbar') %>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <%- include('components/sidebar') %>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <% if(message && ok) { %>
                    <div class="alert alert-success alert-dismissible fade show my-2" role="alert">
                        <strong><%= message %></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } else if (!ok) { %>
                    <div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
                        <strong><%= message?.replace("Error", "Xatolik") %></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>

                    <div class="d-flex my-4">
                        <h4> <%= title %></h4>
                        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>

                <div class="container table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>FISh</th>
                            <th>Telefon</th>
                            <th>Sana</th>
<!--                            <th>Role</th>-->
                            <th>Holati</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% if(users) { %>
                            <% users.forEach((user, index) =>  { %>
                                <tr>
                                    <td><%=(c_page * 10) + index + 1 - 10%></td>
                                    <td>
                                        <img src="<%=user.avatar%>" class="avatar rounded-circle" alt="" width="30" height="auto">
<!--                                        <a href="/admin/users/<%=user.user_id%>" style="text-decoration: none"> </a>-->
                                        <%= user.full_name %>
                                    </td>
                                    <td>+<%= user.phone %></td>
                                    <% var dateObj = new Date(user.createdAt); %>
                                    <td> <%= dateObj.getDate() %>/<%= dateObj.getMonth() + 1 %>/<%= dateObj.getFullYear() %></td>
<!--                                    <td><%= user.role %></td>-->
                                    <td><% if (user.confirm) { %>
                                            <span class="status text-success">&bull;</span> Faol
                                        <% } else { %>
                                            <span class="status text-danger">&bull;</span> Nofaol
                                        <% } %>
                                        </td>
                                    <td>
                                        <% if(user.role !== "admin") { %>
                                            <a href="/admin/users/delete/<%=user.user_id%>" class="delete btn btn-outline-danger btn-sm me-1" style="color: red;" title="Delete" data-toggle="tooltip"><i class="fa-solid fa-trash"></i></a>
                                        <% }  %>
                                            <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#user-<%=index + 1%>">
                                                <i class="fa-solid fa-eye"></i>
                                            </button>
                                    </td>
                                </tr>

                                <!-- Modal -->
                                <div class="modal fade" id="user-<%=index + 1%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="card border-0 mb-3" style="max-width: 540px;">
                                                    <div class="row g-0">
                                                        <div class="col-md-4">
                                                            <img src="<%=user.avatar%>" class="img-fluid rounded-start" alt="..." style="max-width: 150px; height: auto">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="card-body">
                                                                <h5 class="card-title">FISH: <%=user.full_name%></h5>
                                                                <p>Manzil: <%=user.address%></p>
                                                                <p>Tel: +<%=user.phone%></p>
                                                                <p>Role: <% if (user.role === "admin") { %>
                                                                        <i class="fa-solid fa-user-tie"></i> Admin
                                                                    <% } else { %>
                                                                        <i class="fa-solid fa-user"></i> User
                                                                    <% } %></p>
                                                                <p>Holati: <% if (user.confirm) { %>
                                                                        Faol
                                                                    <% } else { %>
                                                                        Nofaol
                                                                    <% } %></p>
                                                                <% var dateObj = new Date(user.createdAt); %>
                                                                <p>Sana: <%= dateObj.getDate() %>/<%= dateObj.getMonth() + 1 %>/<%= dateObj.getFullYear() %></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <a href="/admin/users/posts/<%=user.user_id%>" class="btn btn-success">E'lonlar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        <% } %>
                        </tbody>
                    </table>
                </div>

                <!--Pagination-->
                <div class="clearfix my-3">
                    <div class="hint-text">Showing <b>10</b> out of <b><%= totalCount %></b> entries</div>
                    <ul class="pagination justify-content-center">

                        <% for (let i = 0; i < Math.ceil(totalCount / 10); i++) { %>
                            <li class="page-item">
                                <a class="page-link" href="/admin/users?c_page=<%= i + 1 %>&p_page=10" data-category-page="<%= i + 1%>"><%= i + 1 %></a>
                            </li>
                        <% } %>

                    </ul>
                </div>


            </div>
        </main>
    </div>
</div>

<%- include('components/footer') %>